
.modal {
    background-image: url(../../assets/bg-modal.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

.card-container {
    background-color: rgba(225,225,225,0.4);
    padding-bottom: 15px;
    border-radius: 5px;
}

.card {
    background-color: black;
}

.icon {
    color: black;
}

.icon-exit {
    height: 14px;
    color: black;
}

.img-user {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;
    border: 1px solid black;
}

.border {
    border: 2px solid black;
    color: black;
}

.texto {
    color: rgb(202, 58, 40);
}

p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding-top: 7px;
}

span {
    color: rgb(99, 243, 242);
    font-weight: bold;
}
/*
1. Combinación de negro con blanco
2. Combinación de negro con gris
3. Combinación de negro con rojo
4. Combinación de negro con rosa
5. Combinación de negro con amarillo
6. Combinación de negro con naranja
7. Combinación de negro con dorado
8. Combinación de negro con morado
9. Combinación de negro con azul 
*/