.img-modal {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.contenido-modal {
    display: flex;
}

.container-text {
    height: auto;
    width: 60%;
    border: 2px solid red;
}

.modal {
    background: #000;
    border-radius: 20px;
    border: 2px solid wheat;
}

.container-button {
    display: flex;
    justify-content: end;
    padding: 5px;
}