@import './../base/colours.scss';
@import './../base/variables.scss';
@import './../base/mixins.scss';

.lineChart{
    background: $lineChart-bg;
    border-radius: 0.5rem;
    padding: $padding_elemt;
    // flex-basis: 50%;
    // -webkit-box-flex: 0;
    // flex-grow: 0;
    // max-width: 50%;
    // @include tablet{
    //     flex-basis: 33.3333%;
    //     flex-grow: 0;
    //     max-width: 33.3333%;
    // }
}

.lineChart__graphic{
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    border-radius: 0.5rem;
}