@import "./../base/colours.scss";
@import "./../base/variables.scss";
@import "./../base/mixins.scss";

.navBar {
  background-color: $navBar-bg;
  border-radius: 1rem;

  .navBar__container {
    display: flex;
    justify-content: space-between;
    padding: $padding_elemt;
  }

  &.fijo {
    background-color: $navBarFijo-bg;
    box-shadow: rgb(52 71 103 / 90%) 0rem 0rem 0.0625rem 0.0625rem inset, rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
    -webkit-backdrop-filter: saturate(200%) blur(1.9rem);
    -o-filter-backdrop-filter: saturate(200%) blur(1.9rem);
    -ms-filter-backdrop-filter: saturate(200%) blur(1.9rem);
    -moz-backdrop-filter: saturate(200%) blur(1.9rem);
    backdrop-filter: saturate(200%) blur(1.9rem);
  }
}

.navBar__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar__item--page {
  display: flex;
  flex-direction: column;

  .page {
    margin-bottom: $margin_elemt;
  }
}

.navBar__item--icon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .icon--navBar {
    &:hover {
      background-color: $icon-bg-hover;
      padding: 1rem;
      border-radius: 50%;
    }
  }
}
