@import './../base/colours.scss';
@import './../base/variables.scss';
@import './../base/mixins.scss';



.formEstilo {
    background-repeat: no-repeat ;
    height: auto;
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(90deg, #43c6ac 0%, #191654 100%);
    // margin: 0px;
//     width: auto,       
//     margin: 20px auto,
//     background: "#fff",
//     padding: "2rem",
//     borderRadius: "1rem",
}

.botonEstilo:hover{
    background-color: #35b89e !important;
    color: #191654;
}