@import './../base/colours.scss';
@import './../base/variables.scss';
@import './../base/mixins.scss';

.header{
    background-color: black;

    .header__container{
        padding: $padding_elemt 0;
    }
}

.bar{
    display: flex;
    justify-content: end;
}

.btn--nav{
    @include buttonSmall(transparent, transparent, block);
}