//* Colours
//* Color palette - SCSS RGB
$color-1: rgba(32, 32, 32, 1);
$color-2: rgba(26, 32, 53, 1);
$color-3: rgba(31, 40, 62, 1);
$color-4: rgba(15, 57, 78, 1);
$color-5: rgba(36, 135, 177, 1);
$color-6: rgba(238, 70, 47, 1);
$color-7: rgba(255, 166, 0, 1);
$color-8: rgba(125, 181, 99, 1);

//* Color Palette - SCSS RGB
//* Palette Theme Light
//$color-1-l: rgb(240, 242, 245); // bg main
$color-1-l: rgb(224, 226, 230); // bg main
$color-2-l: rgb(66, 66, 74); // bg aside 1
$color-3-l: rgb(25, 25, 25); // bg aside 2
$color-4-l: rgb(123, 128, 154); // icon nav
$color-5-l: rgb(52, 71, 103); // texto icon / dashboard nav
$color-6-l: rgba(255,255,255,0.6); // link

//* Neutral
$neutral-1: rgba(0 , 0, 0, 1);
$neutral-2: rgba(255 , 255, 255, 1);
$neutral-3: rgba(128, 128, 128, 1);

//* Text
$main-title: $color-5;
$secondary-title: $color-8;
$titles: $neutral-2;
$paragraph: $neutral-2;
$link: $neutral-2;
$link-hover: $color-5;
$icon: $neutral-2; 
$icon-hover: rgba($color: $neutral-2, $alpha: 0.4);

//* button
$buttonNav-bg: transparent;
$buttonNavHover-bg: rgba($color: $neutral-2, $alpha: 0.7);


//* background
$main-bg: $color-2;
$header-bg: $neutral-1;
$aside-bg: $color-3;
$navBar-bg: $color-2;
$navBar-bg-hover: rgba($color: $color-3, $alpha: 0.7);
$icon-bg-hover: rgba($color: $neutral-2, $alpha: 0.4);
$content: $color-2;
$menu-item-hover: rgba($color: $neutral-2, $alpha: 0.4);

$lineChart-bg: $color-3;
$barChart-bg: $color-3;

$shadow: rgba($color: $neutral-1, $alpha: 0.5);
$line: $neutral-2;
$lineChartBorder: $color-5;

