/** Media Queries **/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: white;
  text-align: center;
}

h1 {
  color: #2487b1;
  font-size: 2rem;
}

@media only screen and (min-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  color: #7db563;
  font-size: 2.6rem;
}

@media only screen and (min-width: 480px) {
  h2 {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2.2rem;
}

@media only screen and (min-width: 480px) {
  h3 {
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 480px) {
  h4 {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  h4 {
    font-size: 1.8rem;
  }
}

p, span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 480px) {
  p, span {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  p, span {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  p, span {
    font-size: 1.6rem;
  }
}

ul {
  list-style: none;
}

li {
  font-family: "Redressed", serif;
  font-weight: 400;
  color: white;
  text-align: justify;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  font-size: 1.9rem;
}

@media only screen and (min-width: 480px) {
  li {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  li {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 1024px) {
  li {
    font-size: 2.2rem;
  }
}

a {
  font-family: "Redressed", serif;
  font-weight: 400;
  color: white;
  text-align: center;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer;
  font-size: 1.9rem;
}

a:hover {
  color: #2487b1;
}

@media only screen and (min-width: 480px) {
  a {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  a {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 1024px) {
  a {
    font-size: 2.2rem;
  }
}

a svg, button svg {
  color: white;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  font-size: 2rem;
}

a svg:hover, button svg:hover {
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 480px) {
  a svg, button svg {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 768px) {
  a svg, button svg {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  a svg, button svg {
    font-size: 2.3rem;
  }
}
/*# sourceMappingURL=typography.css.map */